.containerModal {
  min-height: 100vh;
}

@media (min-width: 576px) {
  .containerModal {
    padding: 3rem;
  }
}
.containerBody {
  height: 570px;
  padding: 0;
  border-width: 0;
}

.cardBody {
  padding: 0;
}

.containerButtons {
  padding: 1.5rem 0rem;
}
